<div id="edit-profile" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <h1>Persönliche Informationen bearbeiten</h1>
    <hr/>
    <form action="/update-profile" method="POST">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="full-name">Vorname</label>
            <input class="form-control" id="firstname" name="firstname" type="text"  placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first value="<%= req.me.firstname %>">
            <label for="full-name">Name</label>
            <input class="form-control" id="name" name="name" type="text"  placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first value="<%= req.me.name %>">
            <div class="invalid-feedback">Geben Sie Ihren Namen ein</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email-address">Email Adresse</label>
            <input class="form-control" id="email-address" name="emailAddress" type="email" placeholder="sturgeon@example.com" autocomplete="email" value="<%= req.me.emailAddress %>">
            <div class="invalid-feedback">Geben Sie eine E-Mail Adresse ein</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          Es existiert bereits ein Account mit dieser Email Adresse
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account">Abbruch</a>
            <button type="submit"  class="btn btn-dark">Änderungen speichern</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
