<div id="edit-password">
  <div class="container pt-5 pb-5">
    <h1>Passwort ändern</h1>
    <hr />
    <div id="app">
      <form action="/update-password" method="POST">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="password">Neues Passwort</label>
            <input v-model="password" class="form-control" id="password" name="password" minlength="8" maxlength="60" type="password" placeholder="••••••••" autocomplete="new-password" focus-first />
          </div>
          <div class="form-group col-md-6">
            <label >Passwort erneut eingeben</label>
            <input @change="validate" v-model="confirm" :class="fieldclass" minlength="8" maxlength="60"  name="confirm-password" type="password" autocomplete="new-password" placeholder="••••••••" />
          </div>
        </div>
        <div class="row text-right">
          <div class="form-group col-12">
            <a class="btn btn-outline-info mr-3" href="/">Abbruch</a>
            <button type="submit" class="btn btn-dark" :disabled="disabled">
              Änderungen speichern
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
   const app = Vue.createApp({
    data: function () {
      return {
        password: '',
        confirm: '',
        disabled: true,
        fieldclass: 'form-control'
      };
    },
    methods: {
     validate: function(){
        if ( this.password == this.confirm){
          this.disabled = false
          this.fieldclass = "form-control border-success border-2"
        }else{
          this.disabled = true
          this.fieldclass = "form-control border-danger border-2"
        }
      }
    },
    
  });
  app.mount("#app");
</script>