<div class="container-fluid">
  <div class=" card">
    <div class="card-title">
      <h2 class="text-primary">Fehler:</h2>
    </div>
    <div class="row text-center card-body"><%=message%></div>
  </div>
</div>