<div class="container py-4 px-4">
    <div class="row w-100">
        <div class="card col-12 px-0 mx-0">
            <h2 class="card-title px-2"> Platzhalter für Name </h2> 
             
            <div class="card-body table-responsive px-2">
            <h5 >Geburstdatum</h5>
            <h5 >Email</h5>
            </div>
            
            <h3 class="card-body table-responsive px-2">Termine</h3>


        </div>
    </div>
</div>