<div class="container py-4 px-4">
    <div class="row w-100">
        <div class="card col-12 px-0 mx-0">
            <h2 class="card-title px-2"> Platzhalter für Name</h2> 
             
            <div class="card-body table-responsive px-2">
            <h5 >Geburstdatum</h5>
            <h5 >Email</h5>
            </div>
            
            <div class="card-body px-2">
            <h3 >Termine</h3> 
            <div class="card-body table-responsive">
                <table class="table">
                <thead>
                <th>Praxis</th>
                <th>Therapeut</th>
                <th>Datum</th>
                <th>Uhrzeit</th>
                <th></th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                <td class="text-center">                  
                    <a class="btn btn-primary tbl-btn mb-1" href="#">zur Praxis</a>
                    <a class="btn btn-primary tbl-btn mb-1" href="#">Dokumente hochladen</a>
                   <a class="btn btn-danger tbl-btn mb-1" href="#">Stornieren</a>
                </td>

            </tr>
            </tbody>
                </table>
            </div>

            </div>
        </div>
    </div>
</div>