<div class="container py-4 px-2" id="app">
  <form action="/worktime" method="post">
    <input type="hidden" name="therapist" value="<%=therapist.id%>" />
    <h3>Arbeitszeit festlegen</h3>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>Tag</th>
          <th>Von</th>
          <th>Bis</th>
        </tr>
        <tr>
          <th>Montag</th>
          <td><input type="time" v-model="monday.from" name="monday.from" min="08:00" step="300" /></td>
          <td><input type="time" v-model="monday.till" :min="monday.from" max="20:00" name="monday.till" step="300" /></td>
        </tr>
        <tr>
          <th>Dienstag</th>
          <td><input type="time" v-model="tuesday.from" name="tuesday.from" min="08:00" step="300" /></td>
          <td><input type="time" v-model="tuesday.till" :min="tuesday.from" max="20:00" name="tuesday.till" step="300" /></td>
        </tr>
        <tr>
          <th>Mittwoch</th>
          <td><input type="time" v-model="wednesday.from" name="wednesday.from" min="08:00" step="300" /></td>
          <td><input type="time" v-model="wednesday.till" :min="wednesday.from" max="20:00" name="wednesday.till" step="300" /></td>
        </tr>
        <tr>
          <th>Donnerstag</th>
          <td><input type="time" v-model="thursday.from" name="thursday.from" min="08:00" step="300" /></td>
          <td><input type="time" v-model="thursday.till" :min="thursday.from" max="20:00" name="thursday.till" step="300" /></td>
        </tr>
        <tr>
          <th>Freitag</th>
          <td><input type="time" v-model="friday.from" name="friday.from" min="08:00" step="300" /></td>
          <td><input type="time" v-model="friday.till" name="friday.till" max="20:00" :min="friday.from" step="300" /></td>
        </tr>
      </table>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary mt-4 mb-4">
        Arbeitszeit festlegen
      </button>
    </div>
  </form>
</div>
<script type="module">
  const app = Vue.createApp({
    data: function() {
      return {
        therapist: "",
        monday: {
          from: "",
          till: ""
        },
        tuesday: {
          from: "",
          till: ""
        },
        wednesday: {
          from: "",
          till: ""
        },
        thursday: {
          from: "",
          till: ""
        },
        friday: {
          from: "",
          till: ""
        },
      };
    },
    methods: {},
    async created() {
      let url = new URL(origin + "/therapist/<%=therapist.id%>");
      await fetch(url)
        .then((res) => res.json())
        .then((data) => (this.therapist = data));

      this.therapist.worktimes.forEach((e) => {
        switch (e.weekday) {
          case "monday":
            this.monday.from = e.from
            this.monday.till = e.till
            break
          case "tuesday":
            this.tuesday.from = e.from
            this.tuesday.till = e.till
            break
          case "wednesday":
            this.wednesday.from = e.from
            this.wednesday.till = e.till
            break
          case "thursday":
            this.thursday.from = e.from
            this.thursday.till = e.till
            break
          case "friday":
            this.friday.from = e.from
            this.friday.till = e.till
            break
        }
      })
    },
  });
  app.mount("#app");
</script>