<div id="login"> 
  <div class="container py-4 px-3 ">
    <div class=" card shadow border-none px-2 pt-5  ">
    <h1 class="text-center">Loggen Sie sich ein</h1>
    <div style="max-width: 450px;" class="mx-auto">
      <hr/>
      <form action="/login" method="POST">
        <div class="row px-0">
          <label class="form-label">Email Adresse</label>
          <input type="email" name="emailAddress" class="form-control" maxlength="100"  minlength ="0" placeholder="Email Adresse" autocomplete="email" focus-first required>
         
        </div>
        <div class="row px-0 pt-2">
          <lable class="form-label"> Passwort</lable>
          <input name="password" type="password" class="form-control" placeholder="Passwort" autocomplete="current-password" required>
         
        </div>
        <div class="row pt-2">
        <div class="form-group form-check">
          <input class="form-check-input" type="checkbox" id="remember" name="rememberMe" value="true"/>
          <label class="form-check-label" for="remember" >Anmeldedaten merken</label>
        </div>
        </div>
        <span>Die eingegebenen Anmeldeinformationen sind keinem Account zugeordnet. Bitte überprüfen Sie Ihre E-Mail und/oder Ihr Passwort und versuchen Sie es erneut.</span>
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-primary mt-4 mb-4">Einloggen</button>
        </div>
      </form>
      <p class="text-center"><a href="#">Passwort vergessen?</a></p>
    </div>
  </div>
</div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
