<main>
  <div class="container">
    <div class="row">
      <div class="col-md-5 card m-3">
        <div class="card-body">
          <h2>Therapieplanung, aber einfach!</h2>
          <p>
            Haben Sie auch schon stundenlang am Telefon gesessen, um einen
            Termin für Physio-, Ergo-, Logo- oder Psychotherapie zu finden?<br />
            Haben Sie nach einem Krankenhausaufenthalt den Überblick über Ihre
            vielen Termine bei Therapeuten verloren?<br />
            Mit TheraMin können Sie in nur wenigen Klicks Praxen in Ihrer
            Umgebung finden und direkt online einen Termin reservieren. Außerdem
            hilft Ihnen TheraMin dabei, alle Ihre Termine im Blick zu behalten
            und wenn doch mal etwas dazwischen kommt, können Sie den Termin
            einfach verschieben oder absagen.
          </p>
        </div>
      </div>
      <div class="col-md-5 card m-3">
        <img class="card-img m-auto" src="/images/therapy_older_women.jpeg" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 card m-3 d-none d-md-flex">
        <img class="card-img m-auto" src="/images/logopaedie.jpg" />
      </div>
      <div class="col-md-5 card m-3">
        <div class="card-body">
          <p>
            Um loszulegen, rufen Sie einfach die Praxissuche auf und geben Sie
            Ihre Postleitzahl und die gesuchte Therapieart an. Schon sehen Sie
            alle Praxen in Ihrer Nähe, die bereits TheraMin für die
            Terminplanung verwenden. <br />
            Wenn Sie eine Praxis ausgewählt haben, wird Ihnen direkt angezeigt,
            wann noch Termine in dieser Praxis verfügbar sind. Reservieren Sie
            sich einfach einen freien Zeitraum und geben Sie Ihre Daten ein. Die
            Praxis wird über Ihre Reservierung benachrichtigt und kann direkt
            die relevanten Informationen einsehen. <br />
            Haben Sie Befunde oder einen Arztbrief, die Sie an die Praxis
            weiterleiten wollen? Laden Sie diese einfach in Ihrem Profil hoch
            und geben Sie für die relevanten Praxen frei. Ihre Therapeuten haben
            so jederzeit Zugriff auf alle benötigten Informationen und können
            Sie bestmöglich behandeln.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card m-3 d-md-none">
        <img class="card-img m-auto" src="/images/praxis.jpg" />
      </div>
      <div class="col-md-5 card m-3">
        <div class="card-body">
          <h2>Infos für Praxen</h2>
          <p>
            Sind Sie Therapeut und haben sich schon oft gefragt, wie Sie die
            Terminplanung für Ihre Praxis besser organisieren können? <br />

            TheraMin erlaubt es Ihren Patienten Termine einfach online zu
            reservieren, so dass Sie sich ganz auf die Behandlung konzentrieren
            können. Außerdem bietet TheraMin allen Therapeuten in Ihrer Praxis
            eine Übersicht über alle geplanten Termine und den relevanten
            Informationen zum entsprechenden Patienten. <br />

            Registrieren Sie einfach hier Ihre Praxis und legen Sie direkt los.
          </p>
        </div>
      </div>
      <div class="col-md-5 card m-3 d-none d-md-flex">
        <img class="card-img m-auto" src="/images/praxis.jpg" />
      </div>
    </div>
  </div>
</main>
